.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
MeetBuddies.iml
README.md
app/.gitignore
app/app.iml
app/build.gradle
app/proguard-rules.pro
app/src/debug/res/values/google_maps_api.xml
app/src/release/res/values/google_maps_api.xml
build.gradle
gradle.properties
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat
meetBuddies-master.iml
settings.gradle
